/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply CSS Reset */
body,
html {
  margin: 0;
  padding: 0;
}

body {
  @apply antialiased;
  font-family: "Inter", sans-serif;
}

/* Link styling */
a {
  @apply text-gray-900 hover:underline;
}

button {
  @apply focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
