.navbar {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(242, 81, 81, 0.6), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(10px);
  position: fixed;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.scrolled {
  background: linear-gradient(90deg, rgba(221, 175, 22, 0.514), rgba(250, 189, 23, 0.932), rgba(221, 175, 22, 0.514));
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ff4d4d;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff4d4d;
  transition: width 0.3s ease-in-out;
}

.navLink:hover::after {
  width: 100%;
}

.activeLink {
  color: #fad07d;
  text-shadow: #4c0e07 1px 1px 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  border-radius: 8px;
}

.mobileMenuOpen {
  display: flex;
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none !important;
  }
}
