.footer {
  position: relative;
  overflow: hidden;
}

.footer-container h2 {
  background: linear-gradient(to right, #f87171, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-container a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footer-container h3 {
  background: linear-gradient(to right, #f87171, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .legal-section {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-container a {
  color: #ffffff;
}
